<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}<!-- title goes here -->{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link
      href="https://bootswatch.com/5/minty/bootstrap.css"
      rel="stylesheet">
  <link
      href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap"
      rel="stylesheet">
  <link href="/static/madlibs.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid mb-4">
  <div class="row vh-100">
    <div class="mx-auto my-auto">
      <main class="col w-100">
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>
</html>